<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Integrantes</title>
    <style>
        table{
            border-collapse: collapse;
        }
        table,
        th,
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Integrantes</h1>
    <h2>Listado</h2>

    <section>
        <table>
            <tr>
                {{!-- Fila 1 de la Tabla --}}
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Codigo</th>
                <th>Orden</th>
                <th>Activo</th>
                <th>Acciones</th>
            </tr>
                {{!-- Para Iteracion atender que es td--}}
            
            {{#if integrantes.length}}
                {{#each integrantes}}
                <tr>
                    <td>{{matricula}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                    <td>{{codigo}}</td>
                    <td>{{orden}}</td>
                    <td class="{{#if activo}}activo{{else}}inactivo{{/if}}">
                        {{#if activo}}Activo{{else}}Inactivo{{/if}}
                    </td>
                     <td>
                        <form id="delete-form-{{matricula}}" action="/admin/integrantes/eliminar/{{matricula}}" method="POST" style="display:inline;">
                            <button type="button" onclick="confirmDelete('{{matricula}}')">Eliminar</button>
                        </form>
                    </td>
                </tr>

                {{/each}}
            {{else}}
                <tr>
                    <td colspan="6">No hay datos de Integrantes Registrados</td>
                </tr>
            {{/if}}
        </table>
    </section>

     <a href="/admin">Volver</a>
     <a href="/admin/integrantes/crear">Crear Nuevo</a>
     <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const success = urlParams.get('success');
            const error = urlParams.get('error');

            if (success) {
                toastr.success(success);
            }

            if (error) {
                toastr.error(error);
            }
        };

        function confirmDelete(matricula) {
            if (confirm('¿Estás seguro de que deseas eliminar este integrante?')) {
                document.getElementById(`delete-form-${matricula}`).submit();
            }
        }
    </script>
</body>
</html>